/*Color variables*/
$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #6440FB;
$color-dark: #140342;
$color-dark-blue: #4F547B;
$color-light-grey: #ededed;
$color-bg-grey: #e5e5e5;
$color-gold: #E59819;
$color-bg-purple: #282664;